aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alpha_vantage==2.3.1
attrs==25.3.0
beautifulsoup4==4.13.4
black==25.1.0
cachetools==6.1.0
certifi==2025.7.14
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coverage==7.9.2
curl_cffi==0.12.0
distlib==0.4.0
filelock==3.18.0
fmp-python==0.1.5
fredapi==0.5.2
frozendict==2.4.6
frozenlist==1.7.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
isort==6.0.1
multidict==6.6.3
multitasking==0.0.12
mypy==1.17.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.2
packaging==25.0
pathspec==0.12.1
peewee==3.18.2
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
propcache==0.3.2
protobuf==6.31.1
pycparser==2.22
Pygments==2.19.2
pyproject-api==1.9.1
pytest==8.2.1
pytest-cov==6.2.1
pytest-split==0.10.0
pytest-vcr==1.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
ruff==0.12.4
six==1.17.0
soupsieve==2.7
tox==4.28.0
types-requests==2.32.4.20250611
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vcrpy==7.0.0
virtualenv==20.32.0
websockets==15.0.1
wrapt==1.17.2
yamllint==1.37.1
yarl==1.20.1
yfinance==0.2.65
pandas>=1.5
