boolean.py==5.0
CacheControl==0.14.3
certifi==2025.7.14
cfgv==3.4.0
charset-normalizer==3.4.2
colorama==0.4.6
coverage==7.9.2
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
distlib==0.3.9
filelock==3.18.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
license-expression==30.4.3
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.1.1
mypy==1.16.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packageurl-python==0.17.1
packaging==25.0
pathspec==0.12.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
py-serializable==2.0.0
Pygments==2.19.2
pyparsing==3.2.3
pytest==8.4.1
pytest-cov==6.2.1
PyYAML==6.0.2
requests==2.32.4
rich==14.0.0
sortedcontainers==2.4.0
toml==0.10.2
typing_extensions==4.14.1
urllib3==2.5.0
virtualenv==20.31.2
